flows_nodered.json
[{"id":"689b1ecd.12fb2","type":"tab","label":"Geo-Automatisierung","disabled":false,"info":"Deser Flow steuert Automatisierungen basierend auf der Geolocation geliefert von z.B. **Geofency**."},{"id":"de90bb.cb678748","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"94476a80.f1a468","type":"harmonyws-server","z":"","name":"HarmonyHub","ip":"harmonyhub.fritz.box"},{"id":"25fdb3b0.467794","type":"hue-bridge","z":"","name":"hue Wohnzimmer","bridge":"192.168.178.59","key":"oINTYoDJnqS-qUzML3ttJEUwvjjN73smMSt7yQIj","interval":"3000","info":"Verbindung zur Hue-Bridge"},{"id":"3f599a71.86c1ce","type":"webhookrelay","z":"689b1ecd.12fb2","buckets":"nodered","x":110,"y":200,"wires":[["304a9567.f5b2da"]],"info":"Verbindung zum externen [Webhook-Dienst](https://my.webhookrelay.com).\n\nDer Webhook-Dienst wird von der iOS-App **Geofency** angesprochen"},{"id":"304a9567.f5b2da","type":"json","z":"689b1ecd.12fb2","name":"-> JS Objekt","property":"payload.body","action":"obj","pretty":false,"x":290,"y":200,"wires":[["4229139b.b916a4"]],"info":"Konvertiert das gelieferte JSON-Format in JavaScript-Objekte für die weitere Verarbeitung."},{"id":"4229139b.b916a4","type":"switch","z":"689b1ecd.12fb2","name":"Zuhause?","property":"payload.body.name","propertyType":"msg","rules":[{"t":"eq","v":"Zuhause","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":200,"wires":[["b059642e.8f0d6"]],"info":"Prüft, ob sich die meldung auf das Objekt mit dem Namen \"Zuhause\" bezieht"},{"id":"b059642e.8f0d6","type":"switch","z":"689b1ecd.12fb2","name":"Betreten/Verlassen","property":"payload.body.entry","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":280,"wires":[["54cf6e9a.57a3d","e8346b97.de0cc","e413b19a.007728","3cae3cbf.71e8d4"],["1d22caeb.3203fd","8fdcffc5.26a53","4f7f6b96.fc5774"]],"outputLabels":["Betreten","Verlassen"],"info":"Entscheidung ob das Objekt \"Zuhause\" betreten oder verlassen wurde."},{"id":"8fdcffc5.26a53","type":"HWS activity","z":"689b1ecd.12fb2","name":"Harmony: Alles Aus","server":"94476a80.f1a468","activity":"-1","x":790,"y":360,"wires":[[]],"info":"Schaltet alle mit der Harmony steuerbaren Geräte aus"},{"id":"54cf6e9a.57a3d","type":"HWS activity","z":"689b1ecd.12fb2","name":"Harmony: Entertain an","server":"94476a80.f1a468","activity":"20315650","x":800,"y":120,"wires":[[]],"info":"Schaltet die Harmony-Aktivität **Entertain** an."},{"id":"e0d77711.36d25","type":"hue-group","z":"689b1ecd.12fb2","name":"Wohnzimmer","bridge":"25fdb3b0.467794","groupid":"1","colornamer":false,"x":950,"y":400,"wires":[[]]},{"id":"1d22caeb.3203fd","type":"function","z":"689b1ecd.12fb2","name":"On: false","func":"return {\n    payload: {\n        on: false\n    }\n}","outputs":1,"noerr":0,"x":760,"y":400,"wires":[["e0d77711.36d25","9c18b907.bf4b6"]]},{"id":"9c18b907.bf4b6","type":"hue-group","z":"689b1ecd.12fb2","name":"Schlafzimmer","bridge":"25fdb3b0.467794","groupid":"2","colornamer":false,"x":960,"y":460,"wires":[[]]},{"id":"e8346b97.de0cc","type":"hue-scene","z":"689b1ecd.12fb2","name":"Hell im Schlafzimmer","bridge":"25fdb3b0.467794","sceneid":"zqaGLsmemsaRVOo","x":800,"y":160,"wires":[[]],"info":"Schaltet die Szene **Hell** im Schlafzimmer an"},{"id":"e413b19a.007728","type":"hue-scene","z":"689b1ecd.12fb2","name":"Hell im Wohnzimmer","bridge":"25fdb3b0.467794","sceneid":"WEhhBxpeTPYnZ4p","x":800,"y":200,"wires":[[]]},{"id":"d3760a9.1af27f8","type":"comment","z":"689b1ecd.12fb2","name":"Auswertung","info":"Der Status von der Geofency-App wird hier über den **WebHookRelay** empfangen und in ein JavaScrip-Objekt konvertiert.","x":290,"y":60,"wires":[]},{"id":"e9c569ce.2c54d","type":"comment","z":"689b1ecd.12fb2","name":"Verarbeitung","info":"Je nach *Auswertungs*-Ergebnis werden folgende Schaltungen vorgenommen:\n\n * **Zuhause betreten**\n     * *Harmony Entertain* (Fernsehen) an\n     * *Hell im Schlafzimmer* (Deckenlampe) an\n     * *Hell im Wohnzimmer* (Deckenlampen und Stehlampen) an\n * **Zuhause verlassen**\n     * *Harmony* (alle Geräte) aus\n     * *Wohnzimmer* (alle Lampen) aus\n     * *Schlafzimmer* (alle Lampen) aus","x":850,"y":60,"wires":[]},{"id":"b0a9d5fe.9f15","type":"e-mail","z":"689b1ecd.12fb2","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"detlefs@me.com","dname":"Test-EMail","x":1030,"y":280,"wires":[]},{"id":"3cae3cbf.71e8d4","type":"function","z":"689b1ecd.12fb2","name":"Mail-Text 'Betreten'","func":"return {\n    payload: {\n        value: 'Betreten'\n    }\n}","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["b0a9d5fe.9f15"]]},{"id":"4f7f6b96.fc5774","type":"function","z":"689b1ecd.12fb2","name":"Mail-Text 'Verlassen'","func":"return {\n    payload: {\n        value: 'Verlassen'\n    }\n}","outputs":1,"noerr":0,"x":800,"y":320,"wires":[["b0a9d5fe.9f15"]]}]